* {
	margin: 0px;
	padding: 0px;
	font-family: tahoma;
}

/* facebook header style Start */

.fb-header {
	background: linear-gradient(#4C67A1, #3B5998);
	overflow: hidden;
	padding-top: 8px;
	padding-bottom: 4px;
	border-bottom: 1px solid #133783;
}

.mid {
	width: 80%;
	margin: auto;
}

.logo {
	width: 60%;
	float: left;
	margin-top: 22px;
}

.login-area {
	width: 40%;
	float: left;
}


.login1 input, .login2 input {
	display: block;
	border: 1px solid #1d2a5b;
	padding: 3px;
	margin-top: 3px;
}

.login1, .login2, .login3 {
	float: left;
	margin-right: 10px;
}

.login1 label , .login2 label {
	color: white;
	font-size: 12px;
}

.login2 a {
	text-decoration: none; 
	color: #9cb4d8;
	font-size: 12px;
}

.login3 input {
	background-color: #4267b2;
	border: 1px solid #29487d;
	color: white;
	font-size: 11px;
	font-weight: bold;
	padding: 4px ;
	margin-top: 23px;
	cursor: pointer;
}

.login3 input:hover {
	background-color: #365899;
	border: 1px solid #29487d;
}
/* facebook header style ends */

/* facebook body style start */

.fb-body {
	background: linear-gradient(#FFFFFF, #D4D9E8);
	overflow: hidden;
}

.body-left{
	width: 55%;
	float: left;
}
.body-right{
	width: 45%;
	float: left;
}


.body-left h2 {
	margin-top: 40px;
	color: #0e385f;
	font-size: 20px;
	width: 90%;
}

.body-right h1 {
	color: #333;
	font-size: 36px;
	margin-top: 20px;
}

.body-right p{
	color: #1d2129;
	font-size: 19px;
	margin-top: 5px;
	margin-bottom: 13px;
}

.res {
	width: 85%;
}

.res input{
	width: 100%;
	padding: 8px 10px;
	border:1px solid #bdc7d8 ;
	font-size: 18px;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.res input:nth-child(1){
	width: 49%;
}

.res input:nth-child(2){
	width: 49%;
	float: right;
}



/* facebook body style end */

.birth {
 	overflow: hidden;
}

.birth h2 {
	color: #1d2129;
	font-size: 18px;
	margin-top: 10px;
	font-weight: normal;
	margin-bottom: 10px;
}

.birth select {
	padding: 5px;
	border: 1px solid #bdc7d8;
	float: left;
}

.birth a {
	font-size: 11px;
	width: 150px;
	text-decoration: none; 
	color: #365899;
	display: block;
	float: left;
	margin-left: 10px;
}

.gender {
	margin-top: 20px;
}

.gender label {
	font-size: 18px;
	color: #1d2129;
	margin-right: 30px;
	vertical-align: top;
	line-height: 25px;
}

.gender p{
	font-size: 11px;
	color: #777;
	width: 316px;
	margin: 15px 0px;
}

.gender p a {
	text-decoration: none;
	color: #365899;

}

.button p{
	font-size: 13px;
	color: #666;
	font-weight: bold; 
}

.button p a {
	text-decoration: none;
	color: #365899;
}

.button p a:hover {
	text-decoration: underline;
}

.button input {
	font-size: 19px;
	background: linear-gradient(#67ae55, #578843);
	box-shadow: inset 0 1px 1px #a4e388;
	border-color: #3b6e22 #3b6e22 #2c5115;
	border-width: 1px ;
	border-style: solid;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
	color: #FFF;
	border-radius: 5px;
	padding: 7px 20px;
	cursor: pointer;
	margin-bottom: 30px;
	margin-top: 10px;
}

.button input:hover {
	background: linear-gradient(#79bc64, #578843) ;
}

.language ul {
	list-style: none;
}

.language ul li {
	display: inline-block;
}

.language ul li a {
	text-decoration: none;
	color: #365899;
	font-size: 12px;
	padding: 10px  7px ;
	display: block;
}

.language ul li:nth-child(1) a{
	color: #737373;
}

.language ul li a:hover {
	text-decoration: underline;
}

.language {
	border-bottom: 1px solid #e9ebee;
}

.signup ul {
	list-style: none;
} 

.signup ul li {
	display: inline-block;
}

.signup ul li a {
	text-decoration: none;
	color: #365899;
	font-size: 12px;
	padding: 10px  7px ;
	display: block;
}

.signup  {
	border-bottom: 1px solid #e9ebee;
}

.menu {

}

.menu ul {
	list-style:none;
}

.menu ul li {
	display: inline-block;
	width: 8.5%;
}

.menu ul li a {
	text-decoration: none;
	color: #365899;
	font-size: 12px;
	padding: 5px  7px ;
	display: block;
}

.footer-bottom p {
	color: #737373;
	font-size: 11px;
	margin:20px 0px 20px 7px;
}



